<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block links %}
    {% endblock links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/226/226243.png">

    {% block css %}
    {% endblock css %}
    <style>
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    
    {% include 'header.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>